

body {
  background: url('http://musicgarage.com/info/images/FortheRecordimage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

body {
  padding-top: 54px;

}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
    background-color: black;
  }
}

.review-thumbnail {

max-height: 750px;
max-width: 500px;

}

.container {
background-color: black;
}

.nav {

	background-color: black;
}

.col-md-4 {

text-align: center

}




